<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.njjeske.cs668androiddiabetesapp">

    <uses-sdk
        android:maxSdkVersion="25"
        android:minSdkVersion="19"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BGL"
            android:label="Blood Glucose"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Exercise"
            android:label="Exercise"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Medicine"
            android:label="Medicine"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Meal"
            android:label="Meal"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Results"
            android:label="Results"
            android:parentActivityName=".History" />
        <activity
            android:name=".History"
            android:label="History"
            android:parentActivityName=".Home" />
        <activity
            android:name=".AddActivity"
            android:label="Add an Activity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Regimen"
            android:label="Regimen"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Create"
            android:label="Create"
            android:parentActivityName=".Create" />
        <activity
            android:name=".Login"
            android:label="Login"
            android:parentActivityName=".Login" />
    </application>

</manifest>